fastapi
uvicorn
networkx
osmnx
geopandas
shapely
scipy
rtree
pandas
openpyxl
numpy
requests
httpx
python-dotenv
google-generativeai
mcp
pydantic
groq
rasterio
pyproj
fiona
pymongo 
dnspython
twilio
markdown
matplotlib
